#slider {
    position: relative;
	width: 100%;
}

#templatemo_wrapper {
	width: 800px;
	margin: 0 auto;
}

#templatemo_social {
	width: 800px;
	height: 50px;
	padding: 15px 0px 0px 0px;
	text-align: right;
}

#templatemo_main {
	clear: both;
	width: 800px;
	padding: 15px 0px 0px 0px;
	height: 580px;
}

#templatemo_sidebar {
	float: left;	
	width: 320px;
}

#templatemo_content {
	float: right;
	width: 480px;
}

#header h1 { display: block; width: 315px; height: 166px; margin: 0 auto 80px; padding: 0 }
#header h1 a { float: left; margin-top: 25px; width: 315px; height: 166px; background: url(../images/templatemo_logo.png); text-indent: -10000px; }

#menu {
	clear: both;
	float: right;
}

#templatemo_footer {
	clear: both;
	float: right;
	width: 360px;
	margin: 20px 40px;
	padding: 20px;
	text-align: left;
	background: #070105;
	border: 1px solid #26071d;
	text-align: center;
}
#templatemo_footer a {
	color: #fff;
}

.scroll {
    width: 480px;
    height: 580px;
    overflow: auto;
    /* overflow-x: hidden; */
    position: relative;
    clear: left;

}

.scrollContainer div.panel {
    width: 400px;
    height: 500px;
	padding: 40px;
	overflow: hidden;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigation li {
    margin: 0;
	padding: 0;
}

ul.navigation a {
	display: block;
	float: right;
	clear: both;
	padding: 8px 15px;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 400;
    text-decoration: none;
	color: #fff;
	text-align: right;
}

ul.navigation a:hover, ul.navigation a.selected {
	background: #0f020b
}

ul.navigation a:focus {
    outline: none;
}


.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: 0
}

.scrollButtons.right {
    right: 0
}

.hide {
    display: none;
}

.tablemode {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.tablemode table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tablemode tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.tablemode table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}
.tablemode table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.tablemode tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.tablemode tr:hover td{
	background-color:#ffeaff;
		

}
.tablemode td{
	vertical-align:middle;
	
	background-color:#ffbfff;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tablemode tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tablemode tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tablemode tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tablemode tr:first-child td{
		background:-o-linear-gradient(bottom, #ed00ed 5%, #ed00ed 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed00ed), color-stop(1, #ed00ed) );
	background:-moz-linear-gradient( center top, #ed00ed 5%, #ed00ed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed00ed", endColorstr="#ed00ed");	background: -o-linear-gradient(top,#ed00ed,ed00ed);

	background-color:#ed00ed;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size: 14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tablemode tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ed00ed 5%, #ed00ed 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed00ed), color-stop(1, #ed00ed) );
	background:-moz-linear-gradient( center top, #ed00ed 5%, #ed00ed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed00ed", endColorstr="#ed00ed");	background: -o-linear-gradient(top,#ed00ed,ed00ed);

	background-color:#ed00ed;
}
.tablemode tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tablemode tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}